body {
  font-family: arial, sans-serif;
}

h1 {
  color: #464545;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #464545;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  background-image: url(https://img.freepik.com/free-photo/aesthetic-light-pink-watercolor-background-abstract-style_53876-108212.jpg?w=740&t=st=1681558151~exp=1681558751~hmac=7f30465545d9cad3bf3bce69a7acb79fa8599d0b036727290c219f1f31f23b1c);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: #464545;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #464545;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .active {
  color: #464545;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #464545;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
